<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Util" parallel="methods">
	
	
	<test name="WebDriverMAngaer" preserve-order="true">
		<classes>
			<class name="selenium.util.tests.WebDriverManagerTest"></class>
		</classes>
	</test>
	
</suite>
